In [102]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [103]:
test_df = pd.read_csv("Train.csv")

In [104]:
test_df.shape

(100000, 25)

In [105]:
df = test_df[np.isfinite(test_df['build_tech'])]
df.head()

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
0,0,2011-1,616,0.0,4,43,2,0,30.0,1.0,...,0,0,0,0,0,0,0,0,0,1738000
1,1,2011-1,112,0.0,3,33,1,0,15.0,1.0,...,0,0,0,0,0,0,0,0,0,1169000
3,3,2011-1,302,1.0,4,60,3,0,15.0,0.0,...,0,0,0,0,0,0,0,0,0,5714000
4,4,2011-1,578,0.0,3,49,2,0,30.0,NaN,...,0,0,0,0,0,0,0,0,0,1660000
5,5,2011-1,205,0.0,6,32,1,0,25.0,0.0,...,0,0,0,0,0,0,0,0,0,3219000

In [106]:
df = df.drop('date', axis=1)
df = df.drop('id', axis=1)
y_train = df["price"].astype(int).values
df = df.drop('price', axis=1)
df.fillna(0, inplace=True)

In [107]:
ss = StandardScaler()
test_df_scaled = ss.fit_transform(df)

In [108]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import recall_score
rfc = RandomForestRegressor()

In [ ]:
%%time
rfc.fit(test_df_scaled, y_train)

In [ ]:
rfc.score(test_df_scaled, y_train)

In [ ]:
t_df = pd.read_csv("Test.csv")
t_df = t_df.drop('date', axis=1)
t_df = t_df.drop('id', axis=1)
t_df.fillna(0, inplace=True)
t_df_scaled = ss.fit_transform(t_df)

In [ ]:
t_df.head()

In [ ]:
t_df = pd.read_csv("Test.csv")
t_df['price'] = rfc.predict(t_df_scaled).astype('int')

In [ ]:
t_df[["id","price"]].to_csv("pred.csv", index = False)

In [ ]:
!cat pred.csv | head