In [171]:
import pandas as pd
import numpy as np
import string
import gensim
import matplotlib.pyplot as plt
import re  
import nltk
plt.style.use('ggplot')

from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing  import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import balanced_accuracy_score
import pyLDAvis
import pyLDAvis.gensim
from tqdm import tqdm_notebook
import warnings
warnings.filterwarnings("ignore")

TOKEN_PATTERN_rus = "[а-яё]+"
from nltk.corpus import stopwords
stop_words = set(stopwords.words("russian"))

In [101]:
df1 = pd.read_csv('kp_all_parts_1-9.csv')
df2 = pd.read_csv('kp_all_part_10.csv')
df3 = pd.read_csv('kp_all_part_11.csv')
df4 = pd.read_csv('kp_all_part_12.csv')
df5 = pd.read_csv('kp_all_part_13.csv')
df6 = pd.read_csv('kp_all_part_14.csv')
df1.drop("Unnamed: 0", axis = 1, inplace=True)

In [102]:
df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index= True)

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493757 entries, 0 to 493756
Data columns (total 29 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   filmId                      493757 non-null  int64
 1   nameRu                      493755 non-null  object
 2   nameEn                      169985 non-null  object
 3   webUrl                      493757 non-null  object
 4   year                        476420 non-null  float64
 5   filmLength                  344636 non-null  object
 6   slogan                      83166 non-null   object
 7   description                 106427 non-null  object
 8   type                        493757 non-null  object
 9   ratingAgeLimits             60139 non-null   float64
 10  premiereRu                  8952 non-null    object
 11  distributors                6453 non-null    object
 12  premiereWorld               329890 non-null  object
 13  premiereDigital             690 non-null     object
 14  premiereWorldCountry        329896 non-null  object
 15  countries                   493757 non-null  object
 16  genres                      493757 non-null  object
 17  rating                      493757 non-null  float64
 18  ratingVoteCount             493757 non-null  int64
 19  ratingImdb                  493757 non-null  float64
 20  ratingImdbVoteCount         493757 non-null  int64
 21  ratingFilmCritics           15450 non-null   object
 22  ratingFilmCriticsVoteCount  493757 non-null  int64
 23  budget                      72717 non-null   object
 24  actors                      486825 non-null  object
 25  directors                   486825 non-null  object
 26  producers                   486825 non-null  object
 27  writers                     486825 non-null  object
 28  operators                   486825 non-null  object
dtypes: float64(4), int64(4), object(21)
memory usage: 109.2+ MB

In [104]:
df.drop(["filmId", "webUrl", "type", "premiereRu", "distributors", "premiereDigital", "rating", "ratingVoteCount", "premiereWorld", "ratingFilmCritics", "ratingFilmCriticsVoteCount", "premiereWorldCountry"], axis = 1, inplace=True)

In [105]:
i = 0
filmLength = []

for el in df.filmLength:
    if isinstance(el, str):
        try:
            h, m = el.split(":")
            h = int(h)
            m = int(m)
            filmLength.append(h*60+m)
        except TypeError:
            filmLength.append(0)
    else:
        filmLength.append(0)

In [106]:
df.filmLength = filmLength

In [107]:
#перевёл время в минуты

In [108]:
countries = []
for el in df.countries:
    try:
        strani = []
        c = el.split(",")
        for i in c:
            a, b = i.split(":")
            b = b[2:-2]
            if "'" in b:
                b = b[:-1]
            strani.append(b)
        countries.append(strani)
    except ValueError:
        countries.append('0')

In [109]:
df.countries = countries

In [110]:
genres = []
for el in df.genres:
    try:
        genre = []
        c = el.split(",")
        for i in c:
            a, b = i.split(":")
            b = b[2:-2]
            if "'" in b:
                b = b[:-1]
            genre.append(b)
        genres.append(genre)
    except ValueError:
        genres.append('0')

In [111]:
df.genres = genres

In [112]:
def isNaN(num):
    return num != num

In [113]:
ratingAgeLimits = []
for el in df.ratingAgeLimits:
    if isNaN(el):
        ratingAgeLimits.append(0)
    else:
        ratingAgeLimits.append(el)

In [114]:
df.ratingAgeLimits = ratingAgeLimits

In [115]:
df

,nameRu,nameEn,year,filmLength,slogan,description,ratingAgeLimits,countries,genres,ratingImdb,ratingImdbVoteCount,budget,actors,directors,producers,writers,operators
0,Люди Икс 2,X2,2003.0,134,"Сплотиться сегодня, чтобы наступило завтра","Мутанты продолжают борьбу против общества, кот...",12.0,"[Канада, США]","[боевик, триллер, фантастика]",7.4,505311,$110 000 000,"[8214, 8213, 8215, 1179, 8216, 6577, 7228, 821...",[8210],"[11274, 8212, 8210, 31424, 26945]","[8285, 8288, 8281, 8211, 31461, 8283, 31462, 8...",[307904]
1,Матрица: Перезагрузка,The Matrix Reloaded,2003.0,138,"Одни машины помогают нам жить, другие – пытают...","Борцы за свободу Нео, Тринити и Морфеус продол...",16.0,[США],"[боевик, фантастика]",7.2,507372,$150 000 000,"[7836, 9838, 1491, 6226, 520, 23331, 12193, 27...","[23330, 23329]","[23329, 23330]","[1790, 712, 1486300, 31351, 8525, 675690, 3140...",[278101]
2,Лиззи Магуайр,The Lizzie McGuire Movie,2003.0,94,Lizze McGuire goes to Rome.,Тринадцатилетняя школьница Лиззи Магуайер и ее...,12.0,[США],"[комедия, мелодрама, приключения]",5.5,35239,$17 000 000,"[31505, 31506, 1199020, 27255, 8781, 31508, 31...",[31501],"[31502, 31503, 31504, 31536]","[31538, 31502, 404151, 1122338, 1667153, 31536...",[284350]
3,Матрица,The Matrix,1999.0,136,Добро пожаловать в реальный мир,Жизнь Томаса Андерсона разделена на две части:...,16.0,[США],"[боевик, фантастика]",8.7,1639188,$63 000 000,"[7836, 9838, 6226, 1491, 23331, 9030, 23332, 2...","[23330, 23329]","[23329, 23330]","[1790, 712, 1787, 23359, 8525, 23360, 23361, 9...",[278101]
4,Клад,Holes,2003.0,117,"Кто ищет, тот всегда найдёт",Стэнли арестован по ложному обвинению в краже ...,12.0,[США],"[детектив, драма, комедия]",7.0,76131,$20 000 000,"[6915, 515, 7628, 30162, 10087, 7666, 25307, 1...",[31623],[31624],"[31666, 31623, 6314, 31668, 7306, 3158885, 261...",[608570]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493752,Analiens,NaN,2014.0,10,NaN,NaN,0.0,[Испания],"[короткометражка, фантастика]",0.0,0,€2 000,"[1207069, 1208094, 459157, 4185791, 4185792, 4...",[3781794],[3781794],"[4185797, 3781794, 3781795]",[3781796]
493753,Оттрахать босса 3,Bangin' the Boss 3,2014.0,110,NaN,NaN,18.0,[США],[для взрослых],0.0,0,NaN,"[2256024, 3731645, 1245476, 1349120, 1245183, ...",[228272],[],[],[]
493754,Manny and the Bell,NaN,2015.0,3,NaN,NaN,0.0,[США],"[комедия, короткометражка]",0.0,0,$2 000,"[972646, 1711497, 4185799, 4185800]",[4185798],[4149456],[4149456],[2951081]
493755,Lita på mig,NaN,2017.0,25,NaN,NaN,0.0,[Швеция],"[драма, короткометражка]",0.0,0,SEK 50 000,"[4305982, 3856620, 4305984, 4305985, 4553757]",[2462810],[2462810],[2462810],[2559032]
493756,in/out,NaN,2015.0,21,NaN,NaN,0.0,[Швеция],"[драма, короткометражка]",0.0,0,NaN,"[4185804, 4185803, 5139]",[762820],[762820],"[762820, 2536870, 3381993, 4083897]",[640579]

In [116]:
actors = []
for a in df.actors:
    try:
        act = []
        c = a.split(",")
        for i in c:
            if '[' in i:
                i = i[1:]
            if ']' in i:
                i = i[:-1]
            act.append(i)
        actors.append(act)
    except AttributeError:
        actors.append('0')

In [117]:
df.actors = actors

In [118]:
directors = []
for a in df.directors:
    try:
        dir1 = []
        c = a.split(",")
        for i in c:
            if '[' in i:
                i = i[1:]
            if ']' in i:
                i = i[:-1]
            dir1.append(i)
        directors.append(dir1)
    except AttributeError:
        directors.append('0')
        
df.directors = directors

In [119]:
producers = []
for a in df.producers:
    try:
        prod = []
        c = a.split(",")
        for i in c:
            if '[' in i:
                i = i[1:]
            if ']' in i:
                i = i[:-1]
            prod.append(i)
        producers.append(prod)
    except AttributeError:
        producers.append('0')
        
df.producers = producers

In [120]:
writers = []
for a in df.writers:
    try:
        wr = []
        c = a.split(",")
        for i in c:
            if '[' in i:
                i = i[1:]
            if ']' in i:
                i = i[:-1]
            wr.append(i)
        writers.append(wr)
    except AttributeError:
        writers.append('0')
        
df.writers = writers

In [121]:
operators = []
for a in df.operators:
    try:
        op = []
        c = a.split(",")
        for i in c:
            if '[' in i:
                i = i[1:]
            if ']' in i:
                i = i[:-1]
            op.append(i)
        operators.append(op)
    except AttributeError:
        operators.append('0')
        
df.operators = operators

In [122]:
year = []
for a in df.year:
    try:
        year.append(int(a))
    except ValueError:
        year.append('0')

In [123]:
df.year = year

In [124]:
#df.to_csv('DataFrame.csv')

In [125]:
#df = pd.read_csv('DataFrame.csv', index_col= False)
#df.drop("Unnamed: 0", axis = 1, inplace=True)

In [126]:
df = df.loc[isNaN(df['description']) == False]

In [127]:
df.shape

(106427, 17)

In [139]:
import pymorphy2
morph = pymorphy2.MorphAnalyzer()

In [151]:
words = df.loc[0].description
words = words.split(' ')

In [197]:
description = []

In [200]:
for el in tqdm_notebook(df.description):
    w = []
    words = el
    words = words.split(' ')
    for word in words:
        word = re.sub('[^A-zА-яЁе]+','',  word)
        p = morph.parse(word)[0]
        if p.normal_form not in stop_words: 
            w.append(p.normal_form)
    description.append(w)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=106427.0), HTML(value='')))

In [202]:
d = description

In [208]:
description = description[1:]

In [209]:
len(description)

106427

In [210]:
df.shape

(106427, 17)

In [212]:
len(description)

106427